OPENAI_API_KEY = sk-p...
TAVILY_API_KEY = tv...
COINCAP_API_KEY = 0d...
TESSERACT_PATH=F:\Tesseract...
POPPLER_PATH=C:\Program Files...
DATABASE_URL="postgresql://langgraph:langgraph@localhost:6025/langgraph"
SECRET_KEY = 76f...  # to get a string like this run: openssl rand -hex 32