# Environment & Utils
python-dotenv
requests
pillow
pytesseract
pdf2image

# LangChain & LLM
langchain
langchain-community
langchain-openai
langchain-tavily

# LangGraph
langgraph

# Vector stores & DB
pgvector
psycopg[binary,pool]
langchain-postgres

# Document processing
pypdf
tiktoken>=0.7.0

# Optional
faiss-cpu

# FastAPI & Async
fastapi
pydantic>=2
uvicorn[standard]

# Streamlit for demo / streaming test
streamlit
